<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add a New Event</title>
</head>
<body>
    <h3>Add a New Event</h3>
    <a href="/events">back</a><br><br>

    <form action="/events/add-event" method="POST">
        <table border="1">
            <tr>
                <th>Name (between 3 and 30 chars):</th><td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>Description (within 100 chars):</th><td><input type="text" name="desc"></td>
            </tr>
            <tr>
                <th>Date:</th><td><input type="datetime-local" name="date"></td>
            </tr>
            <tr>
                <th>Entry Fee (must be a number):</th><td><input type="text" name="entryFee" min="0"></td>
            </tr>
            <tr>
                <th>Location:</th><td><input type="text" name="location"></td>
            </tr>
            <tr>
                <th>Capacity:</th><td><input type="number" name="capacity" min="1"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Add Event</button></td>
            </tr>
        </table>
        <br>

        <% if(msg) { %>
            <p><%- msg %></p>
        <%}%>
    </form>

    <br><br>
</body>
</html>