<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body style="text-align: center;">
    <%- include("../navbar-user") %>
    <h1 style="text-align: center;">EVENTS</h1>

    <form action="/events/search-event" method="POST">
        <input type="text" name="name" placeholder="Search events...">
        <button type="submit">Search</button>
    </form><br><br>
    <a href="events/event-list"><button>View all events</button></a><br><br>
    <a href="events/add-event"><button>Add new event</button></a><br><br>
    <a href="events/edit-events"><button>View your events</button></a><br><br>
    <%- include("../footer") %>
</body>
</html>