<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
    <link rel="stylesheet" href="/css/events-styles.css">
</head>
<body>
    <div class="success-page">
        <h1><%= msg %></h1>
        <p>Redirecting...</p>
    </div>
    <script>
        setTimeout(() => {
            window.location.href = "<%= redirectUrl %>";
        }, 2000);
    </script>
</body>
</html>