<footer>
    <h1 style="size: 6rem;color: red">IF YOU SEE THIS, PLEASE REMOVE "&lt;%- include("footer") %&gt;" FROM YOUR CODE NOW, AND SAY "Footer be gone" IN THE GROUP CHAT. THANKS 🥀🥀🥀</h1>
</footer>