<footer>
    <hr>
    <h1>Footer</h1>
    <p>This website is created by:</p>
    <ul>
        <li>Caro</li>
        <li>Eugene</li>
        <li>Harvin</li>
        <li>Jon</li>
        <li>Lingesh</li>
        <li>Maegan</li>
    </ul>
    <p><a href="https://github.com/LingeshGanesh/WAD1_2026T2_songApp" target="_blank">
        GitHub repository
    </a></p>
</footer>