<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('navbar-guest') %>
    <h1>Welcome to Lowkify!</h1>
    <p>
        Lowkify is a song and playlist manager for all music lovers. 
        We are definitely not copying other similar application; 
        it is purely coincidental. 😉
    </p>
    <p>
        Join <strong><%= stats.user.length %></strong> users to listening
        <strong><%= stats.song.length %></strong> songs! There are currently
        <strong><%= stats.playlist.length %>+</strong> playlists posted and shared!
    </p>
    <h1>Join Lowkify now</h1>
    <a href="/user/login"><button>Log-In</button></a>
    <a href="/user/register"><button>Register</button></a>
</body>
</html>