<link rel="stylesheet" href="/css/navbar-user.css">
<nav class="navbar-user">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/songs/browse">Songs</a></li>
        <li><a href="/playlist/browse">Playlists</a></li>
        <li><a href="/album/browse">Albums</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/reviews">All Reviews</a></li>
       
           <% if (locals.currentUser) { %>
            <li class="nav-profile">
                <a href="/user/profile" class="profile-link">
                    <img
                        src="<%= locals.currentUser.profilePicture %>"
                        alt="<%= locals.currentUser.username %>'s profile picture"
                        width="36"
                        height="36"
                    >
                    <% if (locals.currentUser.hasUnreadAlerts) { %>
                         🔔
                    <% } %>
                </a>
            </li>
        <% } %>
    </ul>
    <hr>
</nav>
