<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/playlist/browse">Playlists</a></li>
        <li><a href="/song/browse">Songs</a></li>
        <li><a href="#">User</a></li>
        <li><a href="#">Log-Out</a></li>
    </ul>
    <hr>
</nav>
