<link rel="stylesheet" href="/css/navbar-user.css">
<nav class="navbar-user">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/login">Log-In</a></li>
    </ul>
    <hr>
</nav>