<!-- 
 Included in:
 - /views/playlists/subpages/playlists-table.ejs
 - /views/playlists/playlist-info.ejs
-->

<% const thumbURL = playlist.thumbnailExt? `/image/playlist-thumb/${playlist._id}${playlist.thumbnailExt}` : "/image/default-thumb.png" %>
<table>
    <tr>
        <td><img src="<%= thumbURL %>" alt="" height="128" width="128"></td>
        <td>
            <h1><%= playlist.name %></h1>
            <% if (playlist.owner) { %>
                <p><a href="/user/displayProfile?id=<%= playlist.owner._id %>">@<%= playlist.owner.username %></a></p>
            <% } else { %>
                <p><em>Unknown Owner</em></p>
            <% } %>
        </td>
    </tr>
</table>