<!-- 
 Included in:
 - /views/playlists/browse.ejs
-->

<% if (allPlaylists) { %>
    <table border="1">
        <tr>
            <th>Playlist</th>
            <th>Creation Date</th>
        </tr>

        <% allPlaylists.forEach((playlist, i) => { %>
        <tr>
            <td><a href="/playlist/<%= playlist._id %>">
                <%- include("playlist-header", {playlist}) %>
            </a></td>
            <td><%= playlist.creationDate %></td>
        </tr>
        <% }) %>

    </table>
<% } else { %>
    <p>No playlists yet.</p>
<% } %>