<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Song</title>
    <link rel="stylesheet" href="/css/songs.css">
</head>
<!-- Create Song Form -->

<body class="songs-page">

    <%- include("../navbar-user") %>
    <fieldset>
        <legend>Add Song</legend>

        <% if (error) { %>
        <p style="color: red;"><strong>Error:</strong>
            <%= error %>
        </p>
        <% } %>

        <form action="/songs/create" method="post">
            <!-- Hide uploader and album field as it's automatically set by username-->
            <%- include("form-fields", { fields, showUploader: false, showAlbum: false }) %>
            <input type="submit" value="Save Song">
        </form>
    </fieldset>

    <%- include("../footer") %>
</body>

</html>
