<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Song</title>
</head>
<body>
    <%- include("../navbar-user") %>
    <h1>Create Song</h1>

    <% if (error) { %>
        <p style="color: red;"><strong>Error:</strong> <%= error %></p>
    <% } %>

    <form action="/song/create" method="post">
        <%- include("form-fields", { fields }) %>
        <br>
        <input type="submit" value="Create Song">
    </form>

    <%- include("../footer") %>
</body>
</html>
