<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Playlist</title>
</head>
<body>
    <h1>Create Playlist</h1>
    <% if (error) { %>
        <p style="color: red;"><strong>Error:</strong> Playlist must have at least one song.</p>
    <% } %>
    <form action="/playlist/create" method="post">
        
    <input type="hidden" name="user" value="<%= user %>">

    <%- include("form-fields.ejs", error? {fields, error}: {error}) %> 

    <!-- Song Selection -->
    <%- include("songs-insert-table", {songs: []}) %>
    <br>
    <input type="submit" value="Create Playlist">

    </form>

</body>
</html>