<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/playlist-browse.css">
    <title>Playlist Deletion Successful!</title>
</head>
<body>
    <%- include("../navbar-user") %>
    <div>
        <h1>Playlist Deletion Successful!</h1>
        <ul class="action-btns">
            <li><a class="action-btn" href="/playlist/browse">Browse playlists</a></li>
            <li><a class="action-btn" href="/">Go to Homepage</a></li>
        </ul>
    </div>
    <%- include("../footer") %>
</body>
</html>