<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/events-styles.css">
    <title>Playlist Update Successful!</title>
</head>
<body>
    <%- include("../navbar-user") %>
    <section class="home-hero">
        <h1>Playlist Update Successful!</h1>
        <ul class="home-cta-row" style="list-style-type: none;">
            <li><a class="action-btn" href="/playlist/<%= playlist._id %>">
                <button class="home-btn-primary">Visit "<%= playlist.name %>" playlist page</button>
            </a></li>
            <li><a href="/">
                <button class="home-btn-secondary">Go to homepage</button>
            </a></li>
        </ul>
    </section>
</body>
</html>