<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Update Successful!</title>
</head>
<body>
    <div>
        <h1>Playlist Update Successful!</h1>
        <ul>
            <li><a href="/playlist/<%= playlist._id %>">Visit "<%= playlist.name %>" playlist page</a></li>
            <li><a href="/">Go to Homepage</a></li>
        </ul>
    </div>
</body>
</html>