<tr id="<%= song.id %>">
    <td><%= slotNum %></td>
    <td><strong><%= song.title %></strong> by <strong><%= song.artist %></strong></td>
    <td>
        <button class="up">&uparrow;</button>
        <button class="down">&downarrow;</button>
        <button class="remove">&minus;</button>
    </td>
</tr>