<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbiden</title>
    <link rel="stylesheet" href="/css/events-styles.css">
</head>
<body>
    <%- include("../navbar-user") %>
    <section class="home-hero">
        <h1>403 <span class="home-accent">Forbiden</span></h1>
        <p><%= message %></p>
        <a href="/"><button class="home-btn-primary">Return to homepage</button></a>
    </section>
</body>
</html>